@use "../../Styles/mixins" as *;
.subHeader {
  width: 100%;
  padding: 10px;
  min-width: 190px;
  border: 2px solid #3b3b3b;
  box-sizing: border-box;
  border-radius: 10px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, auto);
}

.filterInput:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.filterInput:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.filterInput:nth-child(3) {
  grid-column: 2;
  grid-row: 1;
}
.filterInput:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

@include desktop(801px) {
  .subHeader {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  }

  .filterInput:nth-child(1),
  .filterInput:nth-child(2),
  .filterInput:nth-child(3),
  .filterInput:nth-child(4) {
    grid-column: auto;
    grid-row: auto;
  }
}
