@use "./variables" as *;

body {
  margin: 0;
}

body {
  margin: 0;
  min-height: 100vh;

  background: $galaxy-gradient !important;
  background-size: 200% 200%;
  animation: galaxyMove 30s ease-in-out infinite;
}

.ant-layout,
.ant-layout-sider

 {
  background: transparent !important;
  box-shadow: none !important;
}

.ant-menu-dark .ant-menu-item-selected,
.ant-menu-dark .ant-menu-item-active {
  background: rgba(255, 255, 255, 0.473) !important;
}
