@use "./variables" as *;

body {
  margin: 0;
}

body {
  margin: 0;
  min-height: 100vh;

  background: $galaxy-gradient !important;
  background-size: 200% 200%;
  animation: galaxyMove 30s ease-in-out infinite;
}
