@use "../../Styles/variables" as *;

.login-page {
  background-color: $color-light;
}

.login-centered {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 450px;
  height: 280px;
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  border: 2px solid black;
  justify-content: center;
  background-color: $color-dark;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form-item {
  width: 80%;
  align-self: center;
}

.ant-btn.login-button {
  border-radius: 0;
  font-weight: 900;
  font-style: italic;
  background-color: $color-light;
  margin-top: 20px;
  font-size: large;
  width: 80%;
  margin-left: 10%;
}

.LoginError {
  color: red;
  font-style: italic;
  font-weight: bold;
}

.login-error-margin {
  margin: 0 0 0 10%;
}
