// Good way to do things, with SCSS you can also create a special partial file for _responsive, do something like:

/*
@use 'sass:map';

$mobileLandscape: 480px;
$tablet: 768px;
$desktop: 992px;

// OP

$xl: 1200px;
$xxl: 1400px;

$breakpoints: (
  'mobile-landscape': #{$mobileLandscape},
  'tablet': #{$tablet},
  'desktop': #{$desktop},
  'xl': #{$xl},
  'xxl': #{$xxl},
);

@mixin from($size) {
  $query: map.get($breakpoints, $size);

  @media screen and (min-width:#{$query}) {
    @content;
  }
}

@mixin to($size) {
  $query: map.get($breakpoints, $size);

  @media (max-width:#{$query}) {
    @content;
  }
}
*/


// then use it some other file like


/*
@use '../..styles/responsive.scss';

// 'responsive.from' because thats the name of the file
@include responsive.from('tablet') {
      aspect-ratio: 832/196;
    }

*/


@mixin desktop($width) {
  @media (min-width: #{$width}) {
    @content;
  }
}

@mixin mobile($width) {
  @media (max-width: #{$width}) {
    @content;
  }
}

$breakpoint-sm: 600px;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
