@use "../../Styles/variables" as *;

.toggle-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.custom-btn {
  border-radius: 4px;
}

@mixin btn-style {
  background-color: white;
  color: black;
  border: 2px solid #bfbfbf;
  box-sizing: border-box;
  width: 100%;
  &:hover {
    background-color: $search-button-color;
    color: $primary-color-hover !important;
    border-color: $primary-color-hover !important;
  }
}

.search-Btn {
  @include btn-style;
}
.clear-Btn {
  @include btn-style;
}

.toggle-tableView-Btn {
  background-color: $primary-color;
  margin: 10px;
  color: white;
  &:hover {
    background-color: $search-button-color;
    color: $primary-color-hover !important;
    border-color: $primary-color-hover !important;
  }
}
